* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  height: 5vh;
}

main {
  flex: 1 0 auto;
  display:flex;
  justify-content: center;
  align-items: center;
}

#grid {
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(141, 113, 113);
  border-radius: 5px;
}

